<div class="container">
    <div class="row" *ngIf="ready == true">

        <div class="col-xs-12 col-sm-12 col-md-12" *ngIf="datamanager.accepted == true">
 
            <div class="alert alert-success fade show" role="alert">
                <strong>Contract accepted!</strong>
                <button type="button" class="close" aria-label="Close" (click)="accepted()">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              
          
        </div>


        <div class="col-xs-12 col-sm-12 col-md-12">
            <h1>Bounty Board</h1>
        </div>
        <br>
        <div class="col">
            <router-outlet></router-outlet>
        </div>

    </div>
</div>